{% extends 'myapp/base.html' %}
{% block title %}Đặt hàng{% endblock %}
{% load static %}
{% block content %}
<section class="h-100 h-custom " style="margin-top: 50px;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-8">
                <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                    <div class="card-body p-0">
                        <div class="p-5">
                            <h1 class="fw-bold mb-5 text-black">Đặt hàng</h1>
                            <hr class="my-4">
                            {% if cart_items %}
                                {% for item in cart_items %}
                                <div class="row mb-4 d-flex justify-content-between align-items-center">
                                    <div class="col-md-3 col-lg-3 col-xl-3">
                                        <h6 class="text-muted">{{ item.product.name }}</h6>
                                    </div>
                                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                        <input type="number" name="quantity" value="{{ item.quantity }}" min="1" class="form-control form-control-sm" readonly/>                          
                                    </div>
                                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                        <h6 class="mb-0">{{ item.product.sale_price|floatformat:"g" }}</h6>
                                    </div>
                                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                        <a href="{% url 'remove_from_cart' item.product.id %}" class="text-muted"><i class="fas fa-times"></i></a>
                                    </div>
                                </div>
                                <hr class="my-4">
                                {% endfor %}
                                <div class="pt-3">
                                    <h5 class="mb-3">Tổng tiền: {{ total_price|floatformat:"g" }}</h5>
                                </div>
                            {% endif %}
                            <hr class="my-4">
                            <div class="pt-5">
                                <form method="post" action="{% url 'process_order' %}">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <label for="payment_method" class="form-label">Chọn phương thức thanh toán:</label>
                                        <select class="form-control" id="payment_method" name="payment_method">
                                            <option value="cod">Thanh toán khi nhận hàng</option>
                                            <option value="wallet">Thanh toán qua ví điện tử</option>
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-dark btn-lg">Xác nhận đặt hàng</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
