{% extends 'myapp/base.html' %}
{% block title %}Thông tin cá nhân{% endblock %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<br>
<div style="margin-top: 50px;">
{% if messages %}
    <div id="flash-message" role="alert">
        {% for message in messages %}
            <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-success{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

    <div class="container">
        <div class="row gutters">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
        <div class="card h-100">
            <div class="card-body">
                <div class="account-settings">
                    <div class="user-profile">
                        <div class="user-avatar">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Maxwell Admin">
                        </div>
                        <h5 class="user-name">{{user.username}}</h5>
                        <h6 class="user-email">{{user.email}}</h6>
                    </div>
                    <div class="user-info">
                        <p><strong>Họ tên:</strong> {{ user.first_name }} {{ user.last_name }}</p>
                        <p><strong>Số điện thoại:</strong> {{ user.phone }}</p>
                        <p><strong>Địa chỉ:</strong> {{ user.address}}</p>
                    </div>
                    <a class="btn btn-info" href="{% url 'edit_user' %}">Cập nhật</a>

                </div>
            </div>
        </div>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
        <div class="card h-100">
            <div class="card-body">
                <div class="row gutters">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <h5 class="mb-2 text-primary">Thông tin đơn hàng</h5>
                    </div>
                    <div class="orders">
                        {% if orders %}
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr> 
                                        <th>Mã đơn hàng</th>
                                        <th>Sản phẩm</th>
                                        <th>Ngày đặt</th>
                                        <th>Thanh toán</th>
                                        <th>Tổng tiền</th>
                                        <th>Địa chỉ giao</th>
                                        <th>Trạng thái</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for order in orders %}
                                    <tr>
                                        <td>{{ order.order_code }}</td>
                                        <td>
                                            <ul>
                                                {% for item in order.order_items.all %}
                                                    <li>{{ item.product.name }} ({{ item.quantity }})</li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                        <td>{{ order.created_at|date:"d/m/Y H:i" }}</td>
                                        <td>{{ order.get_payment_method_display }}</td>
                                        <td>{{ order.total_amount|floatformat:"g" }}</td>
                                        <td>{{ order.user.address}}</td>
                                        <td>{{ order.get_status_display }}</td>
                                        <td>
                                            {% if order.status == 'cxn' %}
                                                <button class="btn btn-danger" onclick="xacNhanHuy('{{ order.id }}')">Hủy</button>
                                            {% else %}
                                                <button class="btn btn-danger" disabled>Hủy</button>
                                            {% endif %}
                                        </td>
                                        
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <p>Bạn chưa có đơn hàng nào.</p>
                        {% endif %}
                    
                </div>
                <div class="row gutters">
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</div>
<br>
<style>
body {
    margin: 0;
    color: #2e323c;
    background: #f5f6fa;
    position: relative;
    height: 100%;
}
.account-settings .user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}
.account-settings .user-profile .user-avatar {
    margin: 0 0 1rem 0;
}
.account-settings .user-profile .user-avatar img {
    width: 90px;
    height: 90px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
.account-settings .user-profile h5.user-name {
    margin: 0 0 0.5rem 0;
}
.account-settings .user-profile h6.user-email {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
    color: #9fa8b9;
}
.account-settings .about {
    margin: 2rem 0 0 0;
    text-align: center;
}
.account-settings .about h5 {
    margin: 0 0 15px 0;
    color: #007ae1;
}
.account-settings .about p {
    font-size: 0.825rem;
}
.form-control {
    border: 1px solid #cfd1d8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    background: #ffffff;
    color: #2e323c;
}

.card {
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
}

</style>   
<script>
    function xacNhanHuy(orderId) {
    if (confirm("Bạn có chắc chắn muốn hủy đơn hàng này không?")) {
        window.location.href = "{% url 'cancel_order' order_id=0 %}".replace('0', orderId);
    }
}
</script>
{% endblock %}